.footer {
  background: linear-gradient(#a01a7d, #5b1048);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer button {
  width: 150px;
}

.footer div {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.footer p {
  display: inline-block;
  color: #fefbfd !important;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
