.modal-confirmation-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.modal-confirmation-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.modal-confirmation-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-footer {
  background: linear-gradient(#a01a7d, #5b1048);
  color: #fefbfd;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.create-event-container {
  color: #5b1048;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 120px; /* To ensure content is not hidden behind the footer */
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  color: #5b1048;
}



.create-event-button {
  background: #a01a7d !important;
  color: white !important;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(160, 26, 125, 0.2);
  transition: all 0.3s ease;
}

.create-form input {
  border: #5b1048 solid;
  padding: 8px;
  border-radius: 4px;
}

.create-form textarea {
  border: #5b1048 solid;
  padding: 8px;
  border-radius: 4px;
}

.image-upload {
  padding: 8px;
  border-radius: 4px;
}

.image-upload input[type="file"]::file-selector-button {
  outline: 2px solid #5b1048;
  background: transparent;
  color: #5b1048;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.event-footer div {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.event-footer p {
  display: inline-block;
  color: #fefbfd !important;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.remove-image-button {
  background-color: #e74c3c !important;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 24px;
  width: 75%; 
  margin-top: 20px;
  cursor: pointer;
}

.image-preview-container {
        margin-top: 20px;
        text-align: center;
}
.image-preview {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}