.start-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  padding-bottom: 120px;
}


.start-page-greeting {
  font-weight: bold;
  color: #5b1048;
  justify-content: center;
  display: flex;
    font-size: 2rem;

}

.start-page p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: rgb(21, 21, 21);
}

.no-content {
  font-style: italic;
  color: #999;
}

.event-card {
  background-color: blueviolet;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
